body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: white;
  scroll-behavior: smooth;

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari, Edge */
body::-webkit-scrollbar {
  display: none;
}

section {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 3rem;
  color: #ff6600;
}

.subtitle {
  font-size: 1.4rem;
  margin-top: 1rem;
}

html {
  scroll-behavior: smooth;
}


/* Hide scrollbar for Chrome, Safari, and Edge */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
